<configuration>
	<connectionStrings>
		<add name="ShopDB_Access" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Ace.OLEDB.12.0;Data Source=db\Shop.mdb"/>
		<add name="ShopDB" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Shop;Integrated Security=true"/>
	</connectionStrings>
</configuration>